*{
	box-sizing: border-box;
}

body{
	font-family: 'Montserat', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 14px;
	text-decoration: none;
} 
.container{
	max-width: 1170px;
	margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin: 0;
	color:#3E3C5E;
}
p{
	text-decoration: none;
}

ul, li{
	display: block;
}


.logo{
	display: flex;
	margin-left: 40px;
}
.ver{
	max-width: 90px;
	max-height: 90px;
	margin-right: 10px;
}
.smart{
	font-weight: 800;
	font-size: 14px;
	color: #3122D9;
	margin-top: 24px;
}
.shop{
	color:#3E3C5E;
	font-weight: 300;
	width: 217px;
}

.a{
   color: #fff;
   text-decoration: none;
   font-size: 12px;
   margin-right: 31px;

}
.ay{
   color: #000;	
}
#menumodal{
	width: 100%;
    height: 100%;
	display: none;
}
#menumodal.active{
	display: block;
}
#overmodal{
   background: rgba(0, 0, 0, 0.82);
   position: absolute;
   width: 285px;
   height: 100%;
}
.openmenu{
	margin-top: 51px;
	position: absolute;
	cursor: pointer;
}
.ment{
	margin-top: 52px;
}
.logomenu{
	margin-left: 20px;
	margin-top: 20px;
}
.namemenu{
	color: #fff;
	font-size: 13px;
	font-weight: 800;
	margin-top: 47px;
}
.fullcatalog{
	text-decoration: none;
}
.logotipemenu{
	display: flex;
}
.menuclose{
	margin-left: 129px;
	margin-top: 47px;
}
.menuclose:hover{

}
.anycontent{
	position: absolute;
}
.catamenu{
	display: flex;
	margin-top: 123px;
	margin-left: 30px;
}
.namemenu1{
	margin: 0;
    text-decoration: none;
}
.caatmenu{
	width: 24px;
	height: 24px;
	margin-right: 10px;
}
.catamenu1{
	margin-top: 15px;
}
.flex-wrapper {
    display: flex;
    width: 100%;
    height: 100px;
    position: relative;
}

#btn-open {
    cursor: pointer;
    margin-top: 50px;
    margin-left: 40px;
}

#wrapper-modal {
    width: 100%;
    height: 100%;
    display: none;
}

#wrapper-modal.active {
    display: block;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #000;
    opacity: 0.5;
}

#modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 800px;
    border-radius: 14px;
    z-index: 2;
    background-color: #ffffff;

}
.ul{
	display: flex;
	margin-top: 59px;
	margin-left: 350px;
}
.stroke{
	display: flex;
}
.tel{
	text-decoration: none;
	color: #fff;
	margin-top: 59px;
	font-weight: 900;

}
.flexelement{
	display: flex;
	margin-top: -40px;	
}
.btn{
	margin-top: 60px;
    margin-left: 160px;	
    margin-right: 10px;
}
.phone{
    width: 113px;
    height: 23px;
    border: 2px solid #fff;
    color: #fff;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
}
.phone:hover{
	color:#000; 
	background:#fff;
	transition: .3s ease-in-out;
}

.t{
	color:red;
}
.price{
	margin-top: 62px;
	font-size: 12px;
	font-weight: 900;	
}
.con{
	font-weight: 600;
	font-size: 25px;
	padding-left: 20px;
}

.blubasket{
	width: 400px;
	height: 400px;
	margin-left: 100px;
}
.l{
	border: 1px solid #D2D2D2;
	margin-top: 30px;
}
.foo{
	text-align: center;
	margin-top: 30px;
	font-weight: 700;
}
.never{
	text-align: center;
	font-weight: 400;
	margin-top: 20px;
}
.br{
	font-weight: 800;
	margin-top: 150px;
	width: 443px;
	font-size: 35px;
}
.digital{
	width: 419px;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.06em;
	margin-top: 25px;
}

.click{
	margin-top: 40px;
	width: 244px;
	display: block;
	padding: 19px 0;
	background: #EB2D66;
	font-weight: 900;
	font-size: 16px;
	letter-spacing: 0.06em;
	text-decoration: none;
	color: #fff;
    text-align: center;
	box-shadow: 0px 7px 35px rgba(235, 45, 102, 0.35);
}
.dja{
	margin-left: auto;
	margin-top: 60px;
    padding-bottom: 100px;
}
.slider-wrapper {
    width: 700px;
    width: 100%;
    height: 400px;
    position: relative;
    box-shadow: 10px 10px 44px -10px rgba(0,0,0,0.75);
}
#btn-prev, #btn-next {
    position: absolute;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}
#btn-close{
	cursor: pointer;
}

.no{
   	margin-left: 750px;
	margin-top: 20px;
}
.bt{
	margin-top: -215px;
	margin-left: 10px;
	position: absolute;
}
.btd{
    margin-top: -215px;
    margin-left: -30px;
	position: absolute;
}
#btn-prev:hover, #btn-next:hover {
    opacity: 0.6;
}

#btn-next {
    left: auto;
    right: 0;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.slide.active {
    display: block;
}

.sl {
    width: 100%;
    height: 100%;
}

.dots-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 340px;
}
.dot{
	
}

.dot.active {
    background-color: #2D2D2D;
}

span {
    width: 39px;
	height: 8px;
    border-radius: 30px;
    background-color: #BFBFBF; 
    margin-right: 10px;
    cursor: pointer;
}
span:last-child{
    margin-right: 0;
}
.first{
	display: flex;
}

.k{
	width: 180px;
	position: absolute;
	margin-top: 330px;
	margin-left: 678px;
	color: #fff;
	font-weight: 400;
}
.pro{
	position: absolute;
	margin-left: 678px;
	margin-top: 300px;
    color: #fff;
    font-weight: 900;
    font-size: 15px;
}

.price1{
	position: absolute;
	margin-left: 680px;
	margin-top:385px;
	font-size: 13px;
	color:#fff;
	font-weight: 800;
}

.dot1{
	margin-left: 370px;
}

.vek{
   position: absolute;
   margin-left: 809px;
   margin-top: 450px;
   color: red;
}
.hot{
	font-weight: 800;
	font-size: 25px;
	margin-top:45px;
}
.hot1{
	display: flex;
}
.card{
	width: 262px;
	height: 470px;
	background: #fff;
	box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
	margin-right: 30px;
	margin-bottom: 30px;
}
.cards{
	display: flex;
	flex-wrap: wrap;
	margin-top: 70px;
	justify-content: space-between;
}
.li1{
	color: #000;
}
.name{
	text-align: center;
	padding-top: 30px;
	font-weight: 800;
	font-size: 16px;
}
.img{
	padding-left: 40px;
}
.img1{
	padding-left: 5px;
	padding-top: 75px;
	padding-bottom: 72px;
}
.img2{
	padding-top: 20px;
}	
.img3{
    padding-left: 13px;
    padding-bottom: 36px;
}
.bio{
	width: 125px;
	font-size: 13px;
	padding-left: 30px;
	font-weight: 400;
	color: #2C3BA0;
}
.bio1{
	color:#646986;
	width: 130px;
}
.paragraph{
	display: flex;
}
.blue{
	color: #3145FF;
	font-weight: 900;
	font-size: 15px;
	margin-top: 40px;
	margin-left: 30px;
	width: 95px;
}
.line{
	color: #3145FF;
	font-weight: 400;
	text-decoration-line: line-through;
	margin-top: 40px;
	margin-left: 18px;
	width: 65px;
}
.blur{
	display: flex;
}
.vektor{
	margin-left: 19px;
	margin-top: 10px;
}
#slider{
	margin-left: 300px;
	margin-top: 63px;
}
#fader{
	position: relative;
	background: #C8C8CB;
	width: 570px;
	height: 6px;
	-webkit-appearance: none;
	outline:none;
}
#fader::-webkit-slider-thumb{
	-webkit-appearance: none;
    width: 108px;
    height: 10px;
    background: #9A9A9A;
    cursor: pointer;
}
.electro{
	margin-top: 70px;
	margin-right: 30px;
}
.plus{
	position: absolute;
	font-weight: 900;
	font-size: 40px;
	color: #fff;
	text-decoration: none;
	margin-left: 525px;
	margin-top: 20px;
}

.two{
	width: 24px;
	height: 24px;
	background: #fff;
	position: absolute;
	margin-left: 36px;
	margin-top: 270px;
}
.new{
	position: absolute;
	margin-top: 291px;
	margin-left: 69px;
	color: #fff;
	font-weight: 900;
	font-size: 27px;
	width: 327px;
}
.mode{
	position: absolute;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
    margin-top: 380px;
    margin-left: 70px;
}
.bord{
	display: flex;
	flex-wrap: wrap;
}

.cl{
	margin-top: 50px;
	margin-bottom: 141px;
}
footer{
	background: #3E3C5E;
}
.smart1{
   color: #fff; 
}
.shop1{
	color: #fff;
}
.a1{
	color: #fff;
}
.stroke1{
	padding-bottom: 100px;
	padding-top: 100px;
}
.top{
   margin-left: 588px;
}
.ult{
	margin-left: 0;
}
.smartphone{
	margin-top: 50px;
}
.background{
	background: #3E3C5E;
}
.smart1{
	color: #fff;
	margin-top: 45px;
}

.btn4{
	margin-top: 60px;
}

.cataloh{
	margin-top: -12px;
	margin-right: 35px;
	background: #3122D9;
	padding: 3px 15px;
	text-decoration: none;
	color: #fff;
	font-weight: 800;
    font-size: 13px;
    border-radius: 16px;
    display: flex;
}
.cat{
	width: 100%;
	height: 100%;
	margin-top: 5px;
}
.logo1{
	margin-top: 15px;
	margin-right: 30px;
	padding-bottom: 27px;
}
.logo-2{
	display: flex;
}
.cataloh:hover{
	filter: drop-shadow(0px 0px 25px #1990E6);
	transition: .4s ease-in-out;

}
.firstdisplay{
	display: flex;
}
.int{
	margin-top: 52px;
	padding-left: 16px;
	width: 485px;
	height: 34px;
	border-radius: 14px;
	border: none;
	font-weight: 300;
    font-size: 12px;
}
.in{
	display: flex;
}
.loop{
	height: 35px;
	width: 83px;
	background: #3122D9;
	color: #fff;
	border-radius: 13px;
	cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 12px;
    margin-left: 11px;
    margin-top: 52px;
}
.pricet{
	color: #fff;
	font-weight: 900;
    font-size: 12px;
    margin-top: 50px;

}
.buster{
	margin-top: 45px;

}
.curs{
	cursor: pointer;	
}
.btn5{
	margin-left: 50px;
}
.nameinto{
	font-weight: 800;
    font-size: 36px;
    margin-top: 60px;
}
.ul2{
	padding-left: 0;
	display: flex;
}
.bgc{
	background: #C4C4C4;
	padding: 17px 0;
	margin-top: 68px;
    
}
.photo{
	width: 30px;
    height: 30px;
    background: #C4C4C4;
    margin-bottom: 14px;
}
.photograph{
    margin-top: 114px;
    margin-right: 54px;
}
.photoflex{
	display: flex;
}
.photo2{
	width: 30px;
    height: 30px;
	background: #25833F;
	border-radius: 8px;
}
.photo3{
    width: 30px;
    height: 30px;
	background: #000;
	border-radius: 8px;
}
.photo4{
    width: 30px;
    height: 30px;
    background: #F32D2D;
	border-radius: 8px;
}
.colorphone{
	display: flex;
	margin-top: 96px;
	margin-left: 121px;
}
.photo5{
	margin-right: 12px;	
}
.videoiphone{
	max-width: 400px;
	max-height: 242px;
}
.gal{
	width: 23px;
	height: 23px;
	margin-top: 8px;
	margin-right: 4px;
}
.yes{
	color: #1BB621;
    font-size: 13px;
    font-weight: 400;
}
.green{
	display: flex;
	margin-left: 121px;
	margin-top: 14px;
}
.price5{
	font-size: 35px;
	font-weight: 700;
}
.button5{
    margin-left: 30px;
}
.click5{
	padding: 9px 29px;
	border-radius: 10px;
}
.click6{
	background: #25833F;
	box-shadow: 0px 4px 15px #25833F;
}
.click5:hover{
	box-shadow: 0px 4px 37px #F22361;
	transition: .3s ease-in-out;
}
.click6:hover{
background: #25833F;
box-shadow: 0px 4px 34px #25833F;
	transition: .3s ease-in-out;
}
.buy{
	display: flex;
	margin-left: 121px;
    margin-top: 50px;
}
.option{
	font-weight: 700;
	font-size: 36px;
}
.options{
	display: flex;
}
.option1{
	margin-right: 200px;
    line-height: 56px;
	font-size: 18px;
	margin-bottom: 400px;
}
footer{
	margin-top: 48px;
}
/* 992px - 1200px */
@media (max-width: 1200px){
    .container{
    	width: 960px;
    }
    .ul{
    	margin-left: 0px;
    }
    #slider{
    	display: none;
    }
    .first{
    	display: inline;
    }
    .top{
    	display: none;
    }
    .slider-wrapper{
        width: 711px;
        
    }
}

/* 768px - 992px */
@media (max-width: 992px){
    .container{
    	width: 720px;
    }
    .logo{
    	display: none;
    }
    .cataloh{
    	display: none;
    }
    .slider-wrapper{
    	width: 100%;
    	margin: 0;
    }
    .ul{
    	display: none;
    }
    .in{
    	margin-left: 40px;
    }
        .ul-2{
    	display: flex;
    }
}

/* 576px - 768px */
    @media (max-width: 768px){
    .container{
    	width: 540px;
    }
    .slider-wrapper{
        width: 534px;
        height: 300px;
    }
    .bt{
        margin-top: -175px;
    }
    .btd{
    	margin-top: -175px;
    }
    .ul-2{
    	display: inline;
    }
    .li{
        margin-bottom: 20px
    }
    .int{
    	width: 100%;
    }
    .stroke{
    	display: block;
    	justify-content: space-between;
    }
    .click{
    	width: 100%;
    }
    .electrobike{
    	width: 100%;

    }
    .new{
    	display: none;
    }
    .plus{
    	display: none;
    }
    .two{
    	display: none;
    }
    .mode{
    	display: none;
    }
    .dots-wrapper{
    	margin-top: 250px;
    }
    
}
/* 320px - 576px */
@media (max-width: 576px){
    .container{
    	width: 90%;
    }
    .card{
    	width: 90%;
    }
    .name{
        margin-left: 25px;
        text-align: left;
    }
    .btn-10{
    	margin-left: 0;
    }
    .br{
    	width: 100%;
    }
    .digital{
    	width: 100%;
    }
    .slider-wrapper{
        width: 310px;
        height: 174px;
        display: block;
        justify-content: center;
    }
    .bt{
        margin-top: -110px;
    }
    .btd{
    	margin-top: -110px;
    }
    .dots-wrapper{
    	margin-top: 120px;
    	justify-content: left;
    	margin-left: 70px;
    }
}
